<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link href="/static/styles.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="none"/>
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    {% block header %}{% endblock %}
    {% if messages %}
        <div class="row">
            <div class="col">
                {% for m in messages %}
                    <div class="alert alert-{{ m[0] }} alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ m[1] }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% block content %}{% endblock %}
    <div style="font-weight: normal; text-align: center">
        <hr>
        Footer
    </div>
</div>

</body>
</html>