{% extends "base.html" %}

{% block title %}Raum erstellen{% endblock %}


{% block content %}
    <div class="container">
        <div class="row mb-5"></div>
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-8 col-sm-12">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="row justify-content-md-center">
                            <div class="col-lg-12 col-sm-12 text-center">
                                <h5 class="card-title">Erstelle einen neuen Raum</h5>
                            </div>
                        </div>
                        <div class="row justify-content-md-center">
                            <div class="col-lg-12 col-sm-12 text-center">
                                <img src="../static/img/logo.png" class="logo">
                            </div>
                        </div>
                        <form method="POST" action="{{ url_for('room.create') }}" enctype="multipart/form-data">
                            <div class="row justify-content-md-center">
                                <div class="form-group col-lg-6 col-sm-12">
                                    <label for="room_name">Name des Raums</label>
                                    <input type="text" class="form-control" name="room_name">
                                </div>
                            </div>
                            <div class="row justify-content-md-center mt-2 mb-3">
                                <div class="col-lg-6 col-sm-12 text-center">
                                    <label class="form-label" for="profil_pic">Lade ein Logo für deinen Raum hoch</label>
                                    <input type="file" name="room_picture" class="form-control bg-light" id="pic" accept="image/jpeg, image/png" />
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="form-group col-lg-6 col-sm-12">
                                    <label for="primary_color">Primäre Farbe</label>
                                    <input type="color" class="form-control" name="primary_color">
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="form-group col-lg-6 col-sm-12">
                                    <label for="secondary_color">Sekundäre Farbe</label>
                                    <input type="color" class="form-control" name="secondary_color">
                                </div>
                            </div>
                            <div class="row justify-content-center">

                                <div class="col-lg-3 col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary w-100">Raum erstellen</button>
                                </div>
                            </div>
                        </form>
                        <div class="row mb-5"></div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}