{% extends "base.html" %}

{% block title %}Übersicht{% endblock %}


{% block content %}
<div class="container">
    <div class="row mb-5"></div>
    <div class="row">
        {% for user in room_users %}
        <div class="col-sm-12 col-lg-4 mt-3">
            <div class="card bg-light w-100" style="width: 18rem;">
                <div class="row mb-2 mt-2">
                    <div class="col text-center">
                        <img src="../static/img/profil_test.jpg" class="profil-image">
                    </div>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title text-center">{{ user.firstname }} {{ user.lastname }}</h5>
                    <p class="card-text text-center">{{ user.info }}</p>
                    <a href="#" class="btn btn-primary">Feedback geben</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}