{% extends "base.html" %}

{% block title %}Übersicht{% endblock %}

{% block header %}
<nav class="navbar navbar-light sticky-top bg-light">
    <a class="navbar-brand" href="#">
        <img src="/static/img/logo_dualer.png" height="64px" alt="">
    </a>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-5"></div>
    <div class="row">
        <div class="col-sm-4 col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="row mb-2 mt-2">
                    <div class="col text-center">
                        <img src="../static/img/profil_test.jpg" class="profil-image">
                    </div>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Vorname Nachname</h5>
                    <p class="card-text text-center">Rolle</p>
                    <a href="#" class="btn btn-primary">Feedback Geben</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}