{% extends "base.html" %}

{% block title %}Dein Profil{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-5"></div>
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-8 col-sm-12">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="row justify-content-md-center">
                            <div class="col-lg-12 col-sm-12 text-center">
                                <h5 class="card-title">Passe dein Profileinstellungen an</h5>
                            </div>
                        </div>
                        <div class="row justify-content-md-center">
                            <div class="col-lg-12 col-sm-12 text-center">
                                <img src="{{ get_profile_pic(user) }}" class="profil-image">
                            </div>
                        </div>
                        <form method="POST" action="{{ url_for('profile.edit') }}">
                            <div class="row justify-content-md-center">
                                <div class="form-group col-lg-6 col-sm-12">
                                    <label for="firstname">Vorname</label>
                                    <input name="firstname" type="text" class="form-control" id="firstname"
                                           {% if user.firstname %}value="{{ user.firstname }}" {% endif %}
                                           placeholder="Vorname">
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="form-group col-lg-6 col-sm-12">
                                    <label for="lastname">Nachname</label>
                                    <input name="lastname" type="text" class="form-control" id="primary_color"
                                           {% if user.lastname %} value="{{ user.lastname }}" {% endif %}
                                           placeholder="Nachname">
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="form-group col-lg-6 col-sm-12">
                                    <label for="info">Rolle</label>
                                    <input name="info" type="text" class="form-control" id="info"
                                           {% if user.info %} value="{{ user.info }}" {% endif %}
                                           placeholder="Infos über Dich">
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-3 col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary w-100">Profil speichern</button>
                                </div>
                            </div>
                        </form>
                        <div class="row mb-5"></div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}