{% extends "base.html" %}

{% block title %}Erhaltenes Feedback{% endblock %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js" integrity="sha512-YcsIPGdhPK4P/uRW6/sruonlYj+Q7UHWeKfTAkBW+g83NKM+jMJFJ4iAPfSnVp7BKD4dKMHmVSvICUbE/V1sSw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-5"></div>
        <div class="row justify-content-start bg-light border rounded">
            <div class="col-lg-9 mb-3 mt-3">
                <h2 class="d-inline">Du hast bereits</h2>
                <h2 class="d-inline"><span class="badge badge-info">{{ feedback|length }}</span></h2>
                <h2 class="d-inline">Feedbacks erhalten!</h2>
            </div>
            <div class="col-lg-3 m-auto">
                <button type="submit" class="btn btn-primary w-100" id="export_button">Als PDF exportieren</button>
            </div>
        </div>

        <div class="row mt-5"></div>

        <div id="feedback-section">
        <div>
        {% for f in feedback %}
            <div class="row mt-3 pt-3 justify-content-start bg-light border rounded">
                <div class="col-lg-2">
                    <img src="{{ get_profile_pic(f.giver, f.anonymous) }}" class="profil-image">
                </div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <h5><strong>{{ f.giver.firstname if not f.anonymous else 'Anonym' }} </strong> hat dir Feedback gegeben.</h5>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                    <span>{{ f.text|e }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}

{% block script %}

<script>
$( "#export_button" ).click(function() {    
    var elementHTML = $('#feedback-section').html();

    var opt = 
    {
        filename:   'feedback.pdf'
    }

    html2pdf()
    .set(opt)
    .from(elementHTML)
    .save();
});
</script>

{% endblock %}