{% extends "base.html" %}

{% block title %}Feedback geben{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5"></div>
        <div class="row">
            <div class="col-sm-12 col-lg-12 bg-light border rounded">
                <div class="row mt-5 justify-content-md-center">
                    <div class="col-sm-6 col-lg-2">
                        <img src="{{ get_profile_pic(receiver) }}" class="profil-image">
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <h2>{{ receiver.firstname }} {{ receiver.lastname }}</h2>
                            </div>
                            <div class="col-sm-12 col-lg-12">{{ receiver.info }}</div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 justify-content-md-center">
                    <div class="col-sm-12 col-lg-8">
                        <form method="POST" action="{{ url_for('feedback.save') }}">
                            <div class="form-group">
                                <label for="feedback_message">Gebe hier dein Feedback ein</label>
                                <textarea name="feedback_message" class="form-control" id="feedback_message"
                                          rows="7">{% if content %}{{ content.text }}{% endif %}</textarea>
                            </div>
                            <div class="row justify-content-start">
                                <div class="col-4">
                                    {% if content %}<input type="text" name="id_to_update" value="{{ content.id }}"
                                                           hidden> {% endif %}
                                    <input type="text" name="receiver_id" value="{{ receiver.id }}" hidden>
                                    <button type="submit" class="btn btn-primary">Feedback absenden</button>
                                </div>
                                <div class="col-4">
                                    <div class="form-check">
                                        <input name="send_anonymously" class="form-check-input" type="checkbox"
                                               value="true" {{ 'checked' if content and content.anonymous }}
                                               id="send_anonymously">
                                        <label class="form-check-label" for="send_anonymously">
                                            Anonym versenden
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-5"></div>
            </div>
        </div>
    </div>
{% endblock %}